{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex items-start mt-4">
    <div class="category mr-4">
        <h1 class="text-xl font-semibold italic">Select Category</h1>
        <ul>
            <li><a href="#">category1</a></li>
            <li><a href="#">category2</a></li>
            <li><a href="#">category3</a></li>
            <li><a href="#">category4</a></li>
        </ul>
    </div>
    <div class="flex-1 stores grid grid-cols-1 lg:grid grid-cols-4 md:grid grid-cols-3 gap-x-8 gap-y-4">
        <div class="book">
            <div>
                <img class="rounded-md"
                    src="{% static './img/library_books.jpg' %}"
                    alt="book img">
            </div>
            <h1 class="text-xl font-semibold">Book title</h1>
            <p>Book description</p>
            <span class="">Price: <p class="text-xl font-semibold text-teal-500 inline">$ 100</p></span><br />
            <button>
                <a class="inline-block font-medium text-sm px-4 py-2 leading-none bg-teal-500 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0"
                    href="{% url 'details' %}">Details</a>
            </button>
        </div>
        <div class="book">
            <div>
                <img src="{% static './img/library_books.jpg' %}"
                    alt="book img">
            </div>
            <h1>Book title</h1>
            <p>Book description</p>
            <p>Price</p>
            <button>
                <a class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-teal-500 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0"
                    href="#">Details</a>
            </button>
        </div>
        <div class="book">
            <div>
                <img src="{% static './img/library_books.jpg' %}"
                    alt="book img">
            </div>
            <h1>Book title</h1>
            <p>Book description</p>
            <p>Price</p>
            <button>
                <a class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-teal-500 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0"
                    href="#">Details</a>
            </button>
        </div>
        <div class="book">
            <div>
                <img src="{% static './img/library_books.jpg' %}"
                    alt="book img">
            </div>
            <h1>Book title</h1>
            <p>Book description</p>
            <p>Price</p>
            <button>
                <a class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-teal-500 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0"
                    href="#">Details</a>
            </button>
        </div>
        <div class="book">
            <div>
                <img src="{% static './img/library_books.jpg' %}"
                    alt="book img">
            </div>
            <h1>Book title</h1>
            <p>Book description</p>
            <p>Price</p>
            <button>
                <a class="mx-2 inline-block font-medium text-sm px-4 py-2 leading-none bg-teal-500 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-700 mt-4 lg:mt-0"
                    href="#">Details</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}